{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "es6": true,
        "browser": true
    },
    "rules": {
        "react/jsx-filename-extension": [0],
        "no-param-reassign": "off",
        "react/prefer-stateless-function": [1],
        "import/prefer-default-export": [0],
        "linebreak-style": [0]
    }
}